@tailwind base;
@tailwind components;
@tailwind utilities;

.id{
    clip-path: polygon(0 0, 100% 0, 65% 94%, 0 94%);
}
.title{
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    overflow: hidden;
}
